# See `git help shortlog` for the syntax

Aaron Goldsmith <aaron.goldsmith@govdelivery.com> <agoldsmith@govdelivery.com>
Adam Lund <adam.lund@govdelivery.com> <alund@govdelivery.com>
Adam Lund <adam.lund@govdelivery.com> adamlund <adam.lund@govdelivery.com>
Alex Ives <alex.ives@govdelivery.com> <alex.ives@code42.com>
Ara Bulbulian <ara.bulbulian@govdelivery.com> <ara@govdelivery.com>
Ara Bulbulian <ara.bulbulian@govdelivery.com> <ara@Aras-MacBook-Pro.local>
Ara Bulbulian <ara.bulbulian@govdelivery.com> <ara@aras-mbp.stp01.office.gdi>
Ben Johnson <ben@govdelivery.com> <Ben.Johnson@GovDelivery.com>
Benjamin Ortega <ben.ortega@govdelivery.com> <ben.ortega@gmail.com>
Benjamin Ortega <ben.ortega@govdelivery.com> <bortega@govdelivery.com>
Benjamin Rosas <ben.rosas@govdelivery.com> <brosas@govdelivery.com>
Benjamin Rosas <ben.rosas@govdelivery.com> <ballPointPenguin@gmx.us>
Benjamin Rosas <ben.rosas@govdelivery.com> Ben Rosas
Ben Tilkens <ben.tilkens@govdelivery.com>
Bill Barrett <bbarrett@govdelivery.com>
Billy Reisinger <billy.reisinger@govdelivery.com> <breisinger@govdelivery.com>
Billy Reisinger <billy.reisinger@govdelivery.com> Uncle Billy
Brian Roth <brian.roth@govdelivery.com> <broth@govdelivery.com>
Brian Roth <brian.roth@govdelivery.com> <brianroth@gmail.com>
Bob Schultz <bob.schultz@govdelivery.com>
Bob Schultz <bob.schultz@govdelivery.com> <bschultz@govdelivery.com>
Chad Walstrom <chad.walstrom@govdelivery.com> <cwalstrom@govdelivery.com>
Chris Schumann <cschumann@govdelivery.com> <CSchumann@govdelivery.com>
Chris Thompson <chris.thompson@govdelivery.com> <cthompson@govdelivery.com>
Chris Thompson <chris.thompson@govdelivery.com> <teaforthecat@gmail.com>
Deepak Konduru <deepak.konduru@govdelivery.com> dkonduru
Deepali Deshmukh <deepali.deshmukh@govdelivery.com> Deepali
Deepali Deshmukh <deepali.deshmukh@govdelivery.com> <ddeshmukh@ddeshmukh-mbp.stp01.office.gdi>
Drew Geraets <drew.geraets@govdelivery.com> <dgeraets@dgeraets-mbp.stp01.office.gdi>
Ed Lebert <ed.lebert@govdelivery.com> <elebert@govdelivery.com>
Eric Ebbesen <eric.ebbesen@govdelivery.com> <Eric.Ebbesen@govdelivery.com>
Eric Ebbesen <eric.ebbesen@govdelivery.com> <eebbesen.git@gmail.com>
Eric Ebbesen <eric.ebbesen@govdelivery.com> <eebbesen@govdelivery.com>
Hudson <hudson@govdelivery.com>
James Belden <james.belden@govdelivery.com>
Jeff Mattfield <jeff.mattfield@govdelivery.com> <jmattfield@govdelivery.com>
Jim Sarne <jim.sarne@govdelivery.com> <jim@govdelivery.com>
Jonathan Pho <jonathan.pho@govdelivery.com>
Ken Earley <ken.earley@govdelivery.com> <kearley@kearley-mbp.local>
Ken Earley <ken.earley@govdelivery.com> <kearley@kearley-mbp.stp01.office.gdi>
Ken Earley <ken.earley@govdelivery.com> <ken.earley@gmail.com>
Kyle Marek-Spartz <kyle.marekspartz@govdelivery.com> <Kyle.MarekSpartz@govdelivery.com>
Kyle Marek-Spartz <kyle.marekspartz@govdelivery.com> <kyle.marek.spartz@gmail.com>
Kyle Marek-Spartz <kyle.marekspartz@govdelivery.com> Kyle Marek Spartz <kyle.marek-spartz@govdelivery.com>
Mike Weber <mike.weber@govdelivery.com> <mweber@govdelivery.com>
Pallavi Golecha <pallavi.golecha@govdelivery.com> <pgolecha@govdelivery.com>
R Kshatriya <rkshatriya@govdelivery.com> <Rkshatriya@govdelivery.com>
R Tangudu <rtangudu@govdelivery.com>
Rick Watkins <rick.watkins@govdelivery.com> <rwatkins@gov-i.com>
Scott Rindahl <scott.rindahl@govdelivery.com>
Savannah Dotson Hanson <savannah.dotson@govdelivery.com> <sdotson@sdotson-mbp.stp01.office.gdi>
Savannah Dotson Hanson <savannah.dotson@govdelivery.com> Savannah Dotson
Sudheer Ghanta <sghanta@govdelivery.com> <Sghanta@govdelivery.com>
Tyler Holien <tyler.holien@govdelivery.com> <tholien@govdelivery.com>
Tyler Holien <tyler.holien@govdelivery.com> <tyler.holien@gmail.com>
Yamini Bolisetty <yamini.bolisetty@govdelivery.com> ybolisetty
