$asset-path-root: '/node_modules/shamrock/src/';

@import '../node_modules/shamrock/src/styles/shamrock';

.sr-card-api-callout {
  @extend .sr-card;
  background-color: rgba($brand-green, .3);
  margin: 30px;
}

.icon-life-bouy-api-callout {
  @extend .icon-life-bouy;
  float: left;
}
