$asset-path-root: '/node_modules/shamrock/src/';

@import '../node_modules/shamrock/src/styles/shamrock';

.sr-card-api-callout {
  @extend .sr-card;
  background-color: rgba($brand-green, .3);
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 30px;
}

.icon-life_bouy-float-right {
  @extend .icon-life-bouy;
  float: right;
}
