#
# SQLITE3
#
# development:
#   adapter: sqlite3
#   database: db/development.sqlite3
#   pool: 5
#   timeout: 5000

# test:
#   adapter: sqlite3
#   database: db/test.sqlite3
#   pool: 5
#   timeout: 5000

#
# ORACLE
#
development:
  adapter: oracle_enhanced
  database: tstm-scan.visi.gdi:1521/dev_evo_tsms
  username: [user]_sdev
  password: abcd1234
  pool: 10
  checkout_timeout: 10
  
test:
  adapter: oracle_enhanced
  database: tstm-scan.visi.gdi:1521/dev_evo_tsms
  username: [user]_stst
  password: abcd1234
  pool: 10
  checkout_timeout: 10

qc:
  <%='jndi: jdbc/xact' if defined?($servlet_context) %>  # let tomcat manage the connection pool
  adapter:  oracle_enhanced
  database: tstm-scan.visi.gdi:1521/qc_evo_xact
  username: xact
  password: m5us83hv
  pool: 10
  checkout_timeout: 15

stage:
  adapter: oracle_enhanced
  database: tstm-scan.visi.gdi:1521/estg
  username: xact
  password: b4h16mrt
  pool: 10
  checkout_timeout: 10