#
# SQLITE3
#
# development:
#   adapter: sqlite3
#   database: db/development.sqlite3
#   pool: 5
#   timeout: 5000

# test:
#   adapter: sqlite3
#   database: db/test.sqlite3
#   pool: 5
#   timeout: 5000

#
# ORACLE
#
development:
  adapter: oracle_enhanced
  database: localhost:1521/XE
  username: person_xdev
  password: abcd1234
  pool: 10
  checkout_timeout: 10
  
test:
  adapter: oracle_enhanced
  database: localhost:1521/XE
  username: person_xtst
  password: abcd1234
  pool: 10
  checkout_timeout: 10

qc:
  <%='jndi: jdbc/xact' if defined?($servlet_context) %>  # let tomcat manage the connection pool
  adapter:  oracle_enhanced
  database: tste-scan.visi.gdi:1521/qc_evo_xact
  username: xact
  password: m5us83hv
  pool: 10
  checkout_timeout: 15

integration:
  <%='jndi: jdbc/xact' if defined?($servlet_context) %>  # let tomcat manage the connection pool
  adapter:  oracle_enhanced
  database: tste-scan.tops.gdi:1521/int_evo_xact
  username: xact
  password: bpb53bpk
  pool: 10
  checkout_timeout: 15

stage:
  <%='jndi: jdbc/xact' if defined?($servlet_context) %>  # let tomcat manage the connection pool
  pool: 10
  checkout_timeout: 15
  adapter: oracle_enhanced
  database: tste-scan.tops.gdi:1521/stg_evo_xact
  username: xact
  password: b4h16mrt